<html>
    <head>
        <meta charset="utf-8">
        <style>

        body {
          font-family: Garamond, serif;
          text-align: center;
          background-color:AliceBlue;
        }

        li {
          list-style: none;
        }

        ul {
          padding: 0
        }

        table,th,td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        .un {
          text-decoration: underline
        }

        .genres {
          display: flex;
          justify-content: center;
        }
        </style>
        <title>Flask example</title>
    </head>
    <body>
        <img src="/static/divider.png" alt="divider" width="500" height="130">
        <h1>Find articles with keywords</h1>
        <!--Reload the page with variable "query" in the URL-->
        <form action="/search" method="POST">
          <label for="number">Number of words:</label>
          <input type="text" id="number" name="number"><br><br>
          <label for="words">Words:</label>
          <input type="text" id="words" name="words"><br><br>

          <div class="genres">
            <input type="checkbox" id="Fantasy" name="genre" value="Fantasy">
            <label for="fantasy">Fantasy</label><br>
            <input type="checkbox" id="Animation" name="genre" value="Animation">
            <label for="Animation">Animation</label><br>
            <input type="checkbox" id="Horror" name="genre" value="Horror">
            <label for="Horror">Horror</label>
          </div><br>
          <input type="submit" value="Submit"><br>
        </form>
        <table>
            <!--If there is one error in the list-->
            {% if errors|length == 1 %}
            <!--Show only that error-->
            <p>{{errors[0]}}</p>
            {% else %}
            <!--Otherwise show each error and then go through each article
                and show the name and a preview of it-->
            {% for error in errors %}
            <p style="font-size:130%">{{error}}</p>
            <!--End for loop for errors-->
            {% endfor %}
            {% if articles|length != 0 %}
            {% for name in articles.items() %}
            <ul>
                <!--Display the name and a preview of the article-->
                <h2>{{ name[0] }}</h2>
                {% for item in name[1] %}
                  <li><em>{{ item }}</em></li>
                {% endfor %}

            </ul>
            <!--End for loop for article names and previews-->
            {% endfor %}
            {% endif %}
            {% endif %}
        </table>
    </body>
</html>
